#canvas {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
    border: 1px solid black;
}

.canvasRow {
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
}

.pixel {
    border: 1px solid black;
}