body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center
}

#canvas {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
}

.canvasRow {
    display: flex;
    flex-grow: 1;
}

.pixel {
    border: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-grow: 1;
}

.pixel:hover {
    filter: brightness(80%);
}

button {
    margin: 4px;
    padding: 4px;
}

.popup {
    background-color: gray;
}

#controls {
    display: flex;
    flex-direction: column;
}