#canvas {
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
}

.canvasRow {
    display: flex;
    flex-grow: 1;
}

.pixel {
    border: 1px solid black;
    background-color: whitesmoke;
    display: flex;
    flex-grow: 1;
}

.pixel:hover {
    filter: brightness(80%);
}